{
  "parserOptions": {
    "ecmaVersion": "2018",
    "sourceType": "module"
  },
  "extends": ["react-app", "eslint-config-prettier"],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "browser": true
  }
}
