.mediaObject {
  display: inline-block;
  padding: 8px;
  display: inline-flex;
  align-items: center;
}

.vertical {
  flex-direction: column;
}
.vertical .text {
  margin-top: 8px;
}

.mediaObject:not(.vertical) .text {
  margin-left: 8px;
}
